
.navbar {
  background-color: black;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.active {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.navbarBrand .logo {
  width: 100px; 
  height: auto; 
  margin-right: 20px;
  cursor: pointer;
}


.navbarLinks {
  display: flex;
  gap: 20px;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbarLink:hover {
  background-color: blue;
  color: white;
}

.navbarSearch {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  padding: 8px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: darkblue;
}

.navbarProfile .profileAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
